/*General*/

body {
  background-image: url("assets/images/Background1.jpg");
  background-size: cover;
  margin: 0;
  padding: 0; 
  width: 100vw;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: white; 
}

/* Différentes Etapes */

.step {
  display : flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 700px; 
  background-color: #6EAFFD;
  border-radius: 30px;
}

.step2 {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px; 
  height: 700px; 
  background-color: #6EAFFD;
  border-radius: 30px;
}

.step3 {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px; 
  height: 700px; 
  background-color: #6EAFFD;
  border-radius: 30px;
}


/* Spécifications-Etapes */ 

input {
  width: 150px;
  height: 150px; 
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  font-size: 20px;
  border: 3px solid #FFAE34;
  margin: 5%;
}

.validate {
  width: 184px;
  height: 63px;
  border-radius: 15px;
  color: #FFAE34;
  font-size: 30px;
  font-weight: 500;
}

label {
  font-size: 25px; 
  font-style: italic;
  font-weight: lighter;
  margin-top: 3%; 
}


/* Ecrans de fin */

.win {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px; 
  height: 700px; 
  background-color: #6EAFFD;
  border-radius: 30px; 
}

.lose {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px; 
  height: 700px; 
  background-color: #6EAFFD;
  border-radius: 30px;
}

/* Boutons de fin */

.retry {
  width: 390px;
  height: 63px;
  font-size: 30px; 
  font-weight: 500;
  border-radius: 30px;
}



/* différents titres */ 

h1 {
  font-size: 40px;
  font-weight: 700;
}

.titleWin {
  color: #1BD492;
  font-size: 60px;
  font-weight: 900;

}

.titleLose {
  color: #FF9473;
  font-size: 60px;
  font-weight: 900;
}